%%User with Bypass
%%EnterDataNewUserScreen
user.name = carolina
user.lastName = ballini
user.nationality = ARG
user.dni = 30289602
user.gender = F
user.birthDate = 1980-10-10


%%ConfirmData
user.mail=@gmail.com
user.area=3725
user.phone=430042

%%ConfirForSMS
user.codeForSms=11111

%%DataAddress
user.locality = moreno
user.street = La piedad
user.streetNumber = 2321
user.floorNumber = 3
user.apartmentNumber = C

%maritalStatus
user.maritalStatus = SOLTERO

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%User with DNI

